header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 50px;
    overflow: visible;
    
    clear: both;
    
    position: sticky;
    background-color: #ffffff;
    border: #cccccc;
    top: 0;
    height: 65px;
    
}

.container {
    width: 100%;
    clear: both;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

.boxed {
    padding: 11px;
    margin-left: 0;
    background-color: teal;
    display: inline;
    margin-left: 15%;
    font-size: 40px;
    clear: both;
    color: white;

}

.nav {
    position: sticky;
    top: 0;
    float: right;
    clear: both;
    left: auto;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    text-align: center;
    
    position: sticky;

}

nav li {
    clear: both;
    padding: 5px;
    display: inline;
    font-size: 20px;
    
    
}

nav a {
    color: gray;
    font-size: 11px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   
    text-decoration: none;
    
}


h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    display: inline;
    color: teal;
    
}

body {
    margin: 0;
    

}

nav {
    display: inline;
}

.divider {
    border-left: 1px solid black;
    margin: 0 33px;
    
}

.placeholder {
    
    margin-top: 20px;
}

.boxed2 {
    border: #dddddd;
    margin-left: 15%;
    
}

p {
    display: inline;
    position: absolute;
    margin-right: 350px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 65px;
    font-size: large;
    margin-left: 20px;
    color: #777777;
}

footer {
    background-color: #666666;
    
    border-top: 8px solid #4aaaa5;
    margin-top: 333px;
    text-align: center;
    clear: both;
    bottom: 0;
}

form {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

form div {
    margin-top: 20px;

}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 20px;
}

input, textarea {
    width: 600px;
    box-sizing: border-box;
}

label {
    color: #777777;
    margin-left: 5px;
}

textarea {
    height: 250px;
}

.port1, .port2, .port, .port4, .port5 {
    float: left;
    margin-right: 111px;
    position: relative;
    
    margin-left: 155px;

}

h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-decoration: none;
    position: relative;
    bottom: 75px;
    margin-left: 35%;
}

.hr {
    width: 75%;
    margin-left: 0;
}

.hr2 {
    width: 95%;
}

.profile {
    padding: 10px;
    margin-top: 25px;
}